/*Escriba su hoja de estilo*/
body{
	
	background: url(../img/f3.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	-webkit-background-size:cover;
}
.ii h1{
	-webkit-text-fill-color: #1C1C1C;
	-webkit-text-stroke: 5px #B40404;
	font-weight: bolder;
	font-size: 10vh ;
	font-family: Comic Sans MS;
}
.pokena{
	background:url(../img/fn.jpg);
	background-position: center;
	background-size: cover;
	color: #f2f2f2;
	border: 2px solid #f2f2f2;
	border-radius: 20%;
	font-size: 4vw ;
	font-family: Comic Sans MS;
}
.pokei{
	background:url(../img/fondoca.jpg);
	background-size: cover;
	background-position: center;
	border: 2px solid black;
	border-radius: 20%;
	
}